{% extends 'base.html.twig' %}

{% block body %}
<h1> <br/>Vous désirez acquérir un bien. <br/><br/> Découvrons ensemble les différentes étapes pour y parvenir en toute sérénité ! </h1>
<br/><br/>
<a href="#" target="_blank"><button type="button" class="btn btn-primary btn-lg">Je crée mon compte</button></a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<a href="#" target="_blank"><button type="button" class="btn btn-primary btn-lg">Je me connecte</button></a>

{% endblock %}